.font-lato {
    font-family: 'Lato', sans-serif;
  }
.light-tint {
    border-width: 1px;
    border-color : #F2F2F2;
}
.light{
    color: #F1F1F1;

}
.grey_1{
    color: #333333;
}
.grey_2{
    color: #484848;
}